#homesection {
	font-family: audiowide;
	color: white;
	background-image:url(https://cdn.pixabay.com/photo/2016/10/11/21/43/geometric-1732847__340.jpg);
}


#navbarsection {
	font-family: Trirong;
	font-size: large;
	position: sticky;
	color: white;
	background: white;
}
#profilesection {
	font-family: audiowide;
	color: white;
	background-image:url(https://wallpaperaccess.com/full/2454628.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;

}
.card {
	font-family: cormorant;
	
}
#contactme {
	font-family: trirong;
	background-image:url(https://wallpaperaccess.com/full/2454628.png);
}
.list-group-item {
	font-family: Alegreya;
	font-style: italic;
}

.features {
	font-family: cormorant;
}



	



